Feed {
    -fx-max-width: 300px;
    -fx-border-width: 0 1px;
    -fx-border-color: #BBBBBB;
}

CommentComponent, LongPostComponent, ShortPostComponent {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #BBBBBB;
}